<div>
  <div>
    <h2>Generar Movimiento</h2>
    <div class="container-form">
      <form #formMovement="ngForm" id="formMovement" name="formMovement" (submit)="saveMovement(); formMovement.resetForm()">
        <div>
          <label class="label-select" for="client">Cliente</label>
          <select id="client" name="client" [(ngModel)]="clientId" (change)="getAccounts();">
            <option *ngFor="let clientOption of clients" [value]="clientOption.id">{{clientOption.name}} - {{clientOption.identification}}</option>
          </select>
        </div>
        <div>
          <label class="label-select" for="account">Cuenta</label>
          <select id="account" name="account" [(ngModel)]="accountId">
            <option *ngFor="let accountOption of accounts" [value]="accountOption.id">{{accountOption.accountNumber}}</option>
          </select>
        </div>
        <div>
          <label class="label-select" for="movementType">Tipo de movimiento</label>
          <select id="movementType" name="movementType" [(ngModel)]="movement.movementType" [required]="true">
            <option *ngFor="let movementTypeOption of movementTypeList" [value]="movementTypeOption.value">{{movementTypeOption.label}}</option>
          </select>
        </div>
        <div>
          <label for="amount">Cantidad</label>
          <input type="number" step="0.01" min="0" id="amount" name="amount" [(ngModel)]="movement.amount" [required]="true">
        </div>
        <div>
          <button type="submit" id="buttonSubmitMovement" [disabled]="!clientId || !accountId || !formMovement.form.valid">Guardar</button>
          <button type="button" (click)="formMovement.resetForm()">Cancelar</button>
        </div>
      </form>
    </div>
  </div>
  <div>
    <h2>Consultar Movimientos</h2>
    <div class="container-form">
      <form #formSearch="ngForm" id="formSearch" name="formSearch" (submit)="getMovementsByDates();">
        <div>
          <label class="label-select" for="clientSearch">Cliente</label>
          <select id="clientSearch" name="clientSearch" [(ngModel)]="clientToSearchId" [required]="true">
            <option *ngFor="let clientOption of clients" [value]="clientOption.id">
              {{clientOption.name}} - {{clientOption.identification}}</option>
          </select>
        </div>
        <div>
          <label for="dateFrom">Fecha desde</label>
          <input type="date" id="dateFrom" name="dateFrom" [(ngModel)]="dateFrom" [required]="true">
        </div>
        <div>
          <label for="dateTo">Fecha hasta</label>
          <input type="date" id="dateTo" name="dateTo" [(ngModel)]="dateTo" [required]="true">
        </div>
        <div>
          <button type="submit" [disabled]="!formSearch.form.valid">Buscar</button>
        </div>
      </form>
    </div>
    <div class="container-table">
      <h2>Lista de Movimientos</h2>
      <div class="container-search">
        <input id="buscadorCliente" name="buscadorCliente" [(ngModel)]="buscador" placeholder="Buscar">
      </div>
      <table>
        <thead>
        <tr>
          <th>Fecha</th>
          <th>Cliente</th>
          <th>Número de cuenta</th>
          <th>Tipo de movimiento</th>
          <th>Saldo inicial</th>
          <th>Estado</th>
          <th>Monto</th>
          <th>Saldo Actual</th>
        </tr>
        </thead>
        <tbody>
        <tr *ngFor="let movement of movements | filter: buscador: 'movementType'">
          <td>{{movement.movementDate | date:'shortDate'}}</td>
          <td>{{movement.clientName}}</td>
          <td>{{movement.accountNumber}}</td>
          <td>{{movement.movementType}}</td>
          <td>{{movement.initialBalance | currency}}</td>
          <td>{{movement.accountStatus}}</td>
          <td>{{movement.movementAmount}}</td>
          <td>{{movement.currentBalance  | currency}}</td>
        </tr>
        </tbody>
      </table>
    </div>
    <div class="container-buttons">
      <button (click)="onClickDownloadPdf()" [disabled]="!clientToSearchId || !dateFrom || !dateTo || !formSearch.valid">
        Descargar como PDF
      </button>
    </div>
  </div>
</div>
